<div class="container">
  <input class="mt-3"  placeholder="Enter repository name" [formControl]="searchTerm">

  <div class="card m-3" style="width: 18rem;" *ngFor="let repo of repos" >
    <div class="card-body">
      <h5 class="card-title">
        {{ repo.title }}
      </h5>
      <p class="card-text">
        <strong>Owner: </strong>
        <span>{{ repo.owner }}</span>
      </p>
      <p>
        <strong>Created at: </strong>
        <span>{{ repo.created_at | date }}</span>
      </p>
    </div>
  </div>
</div>
